
#
# kernel
#
CONFIG_module_kernel=y
# end of kernel

#
# platform
#
CONFIG_module_platform=y
# end of platform

#
# arch
#
CONFIG_module_arch=y
# end of arch

#
# drv
#
CONFIG_module_drv_uart=y
# CONFIG_module_drv_timer is not set
# end of drv

#
# lib
#
CONFIG_module_lib_libc=y
# end of lib

#
# tests
#
CONFIG_partition_tests=y
CONFIG_partition_tests_apps=y
CONFIG_partition_tests_threads=y
CONFIG_partition_tests_interrupt=y
CONFIG_partition_tests_messages=y
# end of tests

#
# examples
#
# end of examples
